name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
      - dev
    paths:
      - 'unoplat-code-confluence-docs/**'
  pull_request:
    types: [closed]
    branches:
      - main
      - dev
    paths:
      - 'unoplat-code-confluence-docs/**'

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    defaults:
      run:
        working-directory: unoplat-code-confluence-docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ GITHUB.HEAD_REF }}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./unoplat-code-confluence-docs/dist/client
          cname: docs.unoplat.io
