name: Frontend Develop Branch Test
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - dev
    paths:
      - 'unoplat-code-confluence-frontend/**'

jobs:
  test-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            fetch-depth: 0
            ref: ${{ github.event.pull_request.head.ref }}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
            bun-version: 1.3.1

      - name: Install dependencies
        run: bun install --frozen-lockfile
        working-directory: unoplat-code-confluence-frontend

      - name: Build
        run: bun run build
        working-directory: unoplat-code-confluence-frontend
